body{
  padding:2%;
}
h1{
  font-family: serif;
}
p{
  font-family: sans-serif;
}
body{
  background-color: rgb(241, 227,211);
}
#inf{
  font-style: italic;
}
.hab-org{
  font-size: 16px;
}
.outras-hab{
  font-size: 17px;
}

#foto-Noelma{
  float: left;
  height: 130px;
  padding: 10px;
  background-color: indigo;
}
#descricao{
  position: absolute;
  margin-left: 30%;
  margin-top: 5%;
}
.image-container{
  height: 150px;
  
}
#nome{
  text-align: center;
}
ul li:nth-child(odd){
  background-color: crimson;
}