body{
  padding:2%;
  
}
h1{
  font-family: serif;
}
p{
  font-family: sans-serif;
}
body{
  background-color: rgb(241, 227,211);  
}
.menu ul{
  padding:0px;
  margin:0px;
  background-color:#EDEDED;
  list-style:none;
}
.menu ul li { 
  display: inline;
}
.menu ul li a {
  padding: 2px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}
.hab-org{
  font-size: 16px;
}
.outras-hab{
  font-size: 17px;
}

#foto-Noelma{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  padding: 10px;
  background-color: indigo;
  border-radius: 50%;
}
#descricao{
  display: block;
  text-align: center; 
}
#inf{
  font-style: italic;
  display: block;
  margin-top: 3%;
  text-align: center;
}
.image-container{
  height: 150px;
  
}
#nome{
  text-align: center;
}
ul li:nth-child(odd){
  background-color: crimson;
}