h1{
    font-family: serif;
  }
  p{
    font-family: sans-serif;
  }
  body{
    background-color: rgb(241, 227,211);
  }
  #inf{
    font-style: italic;
  }
  .hab-org{
    font-size: 16px;
  }
  .outras-hab{
    font-size: 17px;
  }
